@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
body,html{height: 100%;background: #E2E2E2}
body,ul{margin:0;padding:0}
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;} 
li{list-style:none} 
a{text-decoration:none;}
/* 以上实际使用若已初始化可删除 */

/* nav */
.nav-mini{width: 60px;height: 100%;background: #263238;transition: all .3s; position: absolute;top:0;left: 0;}
.nav-mini a{display: block;overflow: hidden;padding-left: 20px;line-height: 46px;max-height: 46px;color: #ABB1B7;transition: all .3s;}
.nav-mini a span{margin-left: 30px;}
.nav-mini .nav-item ul{position: absolute;top:0px;left:60px;width: 180px;z-index: 99;background:#3C474C;overflow: hidden;}
.nav-mini .nav-item:hover{background:rgba(255,255,255,.1);}
.nav-mini .nav-item:hover .nav-item a{color:#FFF;}
.nav-mini .nav-item:hover a:before{opacity:0.6;}
.nav-mini .nav-item:hover ul{display: none;}
.nav-item{position: relative;}
.nav-item.nav-show{border-bottom: none;}
.nav-item ul{display: none;background: rgba(0,0,0,.1);}
.nav-item.nav-show ul{display: block;opacity: 0.9;}
.nav-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 46px;background: #34A0CE;opacity:0;transition: all .3s;}
/* .nav-mini .nav-icon{font-size: 20px;position: absolute;margin-left:-1px;} */
/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after{content: "\e62b";}
.icon_2::after{content: "\e669";}
.icon_3::after{content: "\e61d";}
/*---------------------*/
.icon-gengduo{float:right;margin-right: 20px;margin-top: 15px;font-size: 12px;transition: transform .3s;}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after{content: "\e621";}
/*---------------------*/
.nav-show .icon-gengduo{transform:rotate(90deg);}
.nav-show,.nav-item>a:hover{color: #FFF;background:rgba(0,0,0,.1);}
.nav-show>a:before,.nav-item>a:hover:before{opacity:1;}
.nav-item li:hover a{color: #FFF;background: rgba(0, 0, 0,.1);}
.nav-item>ul{border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
.hidden{display: none};

/* nav-mini */
.nav.nav-mini{width: 60px;height: 100%;background: #263238;transition: all .3s; position: absolute;top:0;left: 0;opacity: 0.8;}
/* .nav.nav-mini .nav-icon{margin-left:-2px;}
.nav.nav-mini .nav-item>a span{display: block;}
.nav.nav-mini .icon-gengduo{margin-right: -20px;}
.nav.nav-mini .nav-item ul{position: absolute;top:0px;left:60px;width: 180px;z-index: 99;background:#3C474C;overflow: hidden;}
.nav.nav-mini .nav-item:hover{background:rgba(255,255,255,.1);}
.nav.nav-mini .nav-item:hover .nav-item a{color:#FFF;}
.nav.nav-mini .nav-item:hover a:before{opacity:0.6;}
.nav.nav-mini .nav-item:hover ul{display: none;}
.nav.nav-mini a{overflow:visible;} */
.nav.nav-mini a{display: block;overflow: hidden;padding-left: 20px;line-height: 46px;max-height: 46px;color: #ABB1B7;transition: all .3s;}
.nav.nav-mini a span{margin-left: 30px;}
.nav.nav-mini .nav-icon{font-size: 20px;position: absolute;margin-left:-1px;}

/*.userinfo-mini{width: 0%}*/

.userinfo{
    width:72%;
    height: 20px;
    padding-top:20px;
    padding-left:10px;
    position:relative;
    top:50%;
    float: right;
    /*background-color: green;*/
}
.userinfo-mini{
    width:0px;
    height:0px;
    overflow: hidden;
    position:relative;
    top:2%;
    float: right;
}